// COLORS
$main-color: #7ed56f;
$main-color-light: #55c57a;
$main-color-dark: #28b485;
$color-grey-dark: rgb(105, 103, 103);
$color-white: #fff;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;